/*** items ***/
.obj .tab-class .nav-item a.active {
  background: var(--bs-secondary) !important;
}

.obj .tab-class .nav-item a.active span {
  color: var(--bs-white) !important; 
}

.obj .obj-item .obj-img {
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px 10px 0 0;
}

.obj .obj-item .obj-img img {
  transition: 0.5s;
}

.obj .obj-item .obj-img img:hover {
  transform: scale(1.3);
}
